<div class="container">
  <div class="row">
    <h1>Add a dose to <%= @cocktail.name %></h1>
    <br>
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <br>
        <%= f.input :ingredient_id, collection: Ingredient.all %>
        <%= f.hidden_field :cocktail_id, value: @cocktail.id %>
        <br>
        <%= f.submit "Add a dose", {class: "btn btn-primary"} %>
      <% end %>
      <br>
      <%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail) %>
  </div>
</div>


<!-- collection: Dose::Ingredient_array -->

<!-- f.input :country_id, collection: @continents, as: :grouped_select, group_method: :countries -->
